<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-xs-center">
    <h5>{{calendar.month | printedMonthFilter}} {{calendar.year | printedYearFilter}}</h5>
    <div class="btn-group" role="group" aria-label="Month Nav">
      <button type="button" ng-click="calendar.prevMonth()" class="btn btn-danger">Prev</button>
      <button type="button" ng-click="calendar.nextMonth()" class="btn btn-danger">Next</button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-inverse">
    <thead class="thead-default">
      <tr>
        <th>S</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>S</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in calendar.calendar">
        <td ng-repeat="day in week">
          <calendar-day data="day"></calendar-day>
        </td>
      </tr>
    </tbody>
  </table>
</div>