<div class="responsiveCal">
  <iframe src="https://calendar.google.com/calendar/embed?title=Daily%20Snapshot&amp;mode=DAY&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ps14o3847qmi1qgdqcq0kelbs0%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<div class="responsiveCal">
  <iframe src="https://calendar.google.com/calendar/embed?title=Week%20Snapshot&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ps14o3847qmi1qgdqcq0kelbs0%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>